// Color Variables
$color-background : #ffffff;
$color-bg-trans : rgba(255,255,255,0.8);
$color-text : #0d0e13;
$color-blue-dark: #3f4561;
$color-blue-mid: #3f4561;
$color-blue-light: #009fc4;
$color-orange: #ffa600;
$color-gray: #f7f7f7;

// Variables - Screen Size Breakpoints
$breakpoint-tiny-phones: 414px;
$breakpoint-portrait-phones: 575.98px;
$breakpoint-landscape-phones: 767.98px;
$breakpoint-tablets: 991.98px;
$breakpoint-desktop: 1199.98px;

// * {
//     border: 1px dotted black;
// }

html {
    body {
        background-color: $color-background;
        padding-left: 0em;
        padding-right: 0em;

        .jumbotron {

            background-color: $color-background;
            background-image: url(../images/bg_rings.jpg);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;
            padding-bottom: 0px;

            nav{
                .navbar-nav{
                    .nav-item{
                        a{
                            color: $color-blue-light;
                            text-decoration: none;

                            &:visited{
                                color: $color-blue-light;
                                text-decoration: none;
                            }

                            &:hover{
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                    .active{
                        .nav-link{
                            color: $color-orange !important;
                        }
                    }
                }

            }

            #img-think-be {
                margin-top: 1em;
            }

            .display-1{
                color: $color-blue-dark;

                @media screen and(max-width: $breakpoint-tiny-phones) {
                    font-size: 5em;
                }
            }
            
        }

        #services{
            background-color: $color-gray;
            margin-bottom: 2em;
            .bg-header-light{
                background-color: $color-blue-mid;
                color: white;
                h2{
                    font-size: 3em;
                    text-align: right;

                    @media screen and (max-width: $breakpoint-landscape-phones) {
                        text-align: left;
                    }
                }
            }

            .bg-header-dark{
                background-color: $color-text;
                color: $color-orange;
                h2{
                    background-color: $color-text;
                    font-size: 3em;
                }
            }

            .display-4 {
                font-size: 3em;
                text-align: center;
            }

            .menu {
                background-color: $color-blue-dark;
                color: $color-background;
                padding: 3em;
                border-radius: .25em;

                .option-label{
                   font-size: 1.5em;

                   i{
                       font-size: 2em;
                   }
                }

                .option-text{
                    text-align: justify;
                }
            }


        }

        section{
            .lead{
                text-align: justify;
            }
        }

       

        .display-4{
            color: $color-blue-light;
        }
        

       .display-3{
           color: $color-blue-dark;
       }

        li {
            list-style: disc outside none;
            display: list-item;
            margin-left: 1em;
        }

        button {
            color: white !important;
            background-color: $color-blue-mid !important;

            &:visited{
                color: white !important;
                text-decoration: none !important;
            }

            &:hover{
                color: $color-blue-mid !important;
                background-color: $color-orange !important;
                text-decoration: none !important;
            }
            
        }

        footer{
            background-image: url(../images/bg_rings.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0px;
            padding-top: 2em;
            padding-left: 0em;
            padding-right: 0em;
            background-color: $color-blue-dark;
            color: white;
            span{
                color: $color-orange;
            }
            
        }



    }
}