$color-background : #ffffff;
$color-bg-trans : rgba(255,255,255,0.8);
$color-text : #000f;
$color-blue-darkest: #161822;
$color-blue-dark: #3f4461;
$color-blue-light: #018fb5;
$color-orange: #ffa600;

// * {
//     border: 1px dotted black;
// }

html {
    body {
        height: 100vh;
        background-image: url(../images/office-zen.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        padding-top: .25em;
        padding-left: 0em;
        padding-right: 0em;
    }
}