// Color Variables
$color-background : #ffffff;
$color-bg-trans : rgba(255,255,255,0.8);
$color-text : #0d0e13;
$color-blue-dark: #3f4561;
$color-blue-mid: #3f4561;
$color-blue-light: #009fc4;
$color-orange: #ffa600;
$color-gray: #f4f4f4;

// Variables - Screen Size Breakpoints
$breakpoint-tiny-phones: 414px;
$breakpoint-portrait-phones: 575.98px;
$breakpoint-landscape-phones: 768.98px;
$breakpoint-tablets: 991.98px;
$breakpoint-desktop: 1199.98px;

// * {
//     border: 1px dotted yellow;
// }


html {
    body {
        background-color: $color-background;
        padding-left: 0em;
        padding-right: 0em;

        .jumbotron {

            background-color: $color-background;
            background-image: url(../images/bg_rings.jpg);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;
            padding-bottom: 0px;

            nav{
                .navbar-nav{
                    .nav-item{
                        a{
                            color: $color-blue-light;
                            text-decoration: none;

                            &:visited{
                                color: $color-blue-light;
                                text-decoration: none;
                            }

                            &:hover{
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                    .active{
                        .nav-link{
                            color: $color-orange !important;
                        }
                    }
                    .dropdown-menu{
                        a{
                            color: $color-blue-light;
                            text-decoration: none;

                            &:visited{
                                color: $color-blue-light;
                                text-decoration: none;
                            }

                            &:hover{
                                color: $color-orange;
                                text-decoration: none;
                            }
                        }
                    }
                }

            }

            #img-think-be {
                margin-top: 1em;
            }

            .display-1{
                color: $color-blue-dark;

                @media screen and(max-width: $breakpoint-tiny-phones) {
                    font-size: 5em;
                }
            }
            
        }

       .display-4{
            color: $color-blue-light;
        }
        

       .display-3{
           color: $color-blue-dark;
       }

        li {
            list-style: disc outside none;
            display: list-item;
            margin-left: 1em;
        }

        a{
            text-decoration: none !important;
        }

        button {
            color: white !important;
            background-color: $color-blue-mid !important;
            text-decoration: none !important;

            &:visited{
                color: white !important;
                text-decoration: none !important;
            }

            &:hover{
                color: $color-blue-mid !important;
                background-color: $color-orange !important;
                text-decoration: none !important;
            }
            
        }

        #services{
            background-color: $color-gray;
            margin-bottom: 2em;
            .bg-header-light{
                background-color: $color-blue-mid;
                color: white;
                h2{
                    font-size: 3em;
                    text-align: right;

                    @media screen and (max-width: $breakpoint-landscape-phones) {
                        text-align: left;
                    }
                }
            }

            .bg-header-dark{
                background-color: $color-text;
                color: $color-orange;
                h2{
                    background-color: $color-text;
                    font-size: 3em;
                }
            }

            .display-4 {
                font-size: 3em;
                text-align: center;
            }

            .menu {
                background-color: $color-blue-dark;
                color: $color-background;
                padding: 3em;
                border: $color-gray solid .1em;
                border-radius: .25em;

                .option-label{
                   font-size: 1.25em;

                   i{
                       font-size: 1.75em;
                   }
                }

                .option-text{
                    text-align: justify;
                    font-size: .8em;
                }
            }


        }

        #bi-header{
            background-image: url('../images/bi-cultural-talent.jpg');
            background-repeat: no-repeat;
            background-position: top right;
            background-size: cover;
            margin-top: 0px;
            margin-bottom: 0px;
            .text-box{
                background-color: rgba(63,69,97,0.75);
                border-radius: .25em;
                padding: 2em;
                .display-4{
                    color: $color-orange;
                    margin-bottom:.5em;

                    @media only screen and (min-width: $breakpoint-portrait-phones) and (max-width: $breakpoint-landscape-phones) {
                        font-size: 2em;
                    }

                    @media only screen and (max-width: $breakpoint-portrait-phones) {
                        font-size: 1.75em;
                    }
                }

            }
            .description{
                color: white;
                // text-align: justify;
                text-shadow: 1px 1px black;
                .lead{
                    @media only screen and (min-width: $breakpoint-portrait-phones) and (max-width:                         $breakpoint-landscape-phones) {
                    font-size: 1em;
                    }

                    @media only screen and (max-width: $breakpoint-portrait-phones) {
                    font-size: 1em;
                    }
                }

                
            }
        }

        #training-header{
            background-image: url('../images/train-banner2.jpg');
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: cover;
            margin-top: 0px;
            margin-bottom: 0px;
            .text-box{
                background-color: rgba(63,69,97,0.75);
                border-radius: .25em;
                padding: 2em;
                .display-4{
                    color: $color-orange;
                    margin-bottom:.5em;

                    @media only screen and (min-width: $breakpoint-portrait-phones) and (max-width: $breakpoint-landscape-phones) {
                        font-size: 2em;
                    }

                    @media only screen and (max-width: $breakpoint-portrait-phones) {
                        font-size: 1.75em;
                    }
                }

                .sub-title{
                    color: $color-orange;
                    font-size: 2em;
                    margin-top: 1em;
                }

                li{
                    color: white;
                }

            }
            .description{
                color: white;
                // text-align: justify;
                text-shadow: 1px 1px black;
                .lead{
                    @media only screen and (min-width: $breakpoint-portrait-phones) and (max-width:                         $breakpoint-landscape-phones) {
                    font-size: 1em;
                    }

                    @media only screen and (max-width: $breakpoint-portrait-phones) {
                    font-size: 1em;
                    }
                }

                
            }
        }

        section{
            .lead{
                // text-align: justify;
            }
        }

        .banner{
            .text-box{
                padding: 1em;
                .display-4{
                    margin-bottom: .5em;

                    @media only screen and (min-width: $breakpoint-portrait-phones) and (max-width: $breakpoint-landscape-phones) {
                        font-size: 2em;
                    }

                    @media only screen and (max-width: $breakpoint-portrait-phones) {
                        font-size: 1.75em;
                    }
                }
                .lead{

                    @media only screen and (min-width: $breakpoint-portrait-phones) and (max-width: $breakpoint-landscape-phones) {
                    font-size: 1em;
                    }

                    @media only screen and (max-width: $breakpoint-portrait-phones) {
                    font-size: 1em;
                    }
                }
            }
            #img-worker{
                background-image: url('../images/bi-cultural-worker.jpg');
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
                
            }
            #img-hisp-owned{
                background-image: url('../images/bi-cultural-team.jpg');
                background-repeat: no-repeat;
                background-position: top left;
                background-size: cover;
            }
            #img-latina{
                background-image: url('../images/bi-cultural-latina.jpg');
                background-repeat: no-repeat;
                background-position: top right;
                background-size: cover;
            }
            #img-strengths{
                background-image: url('../images/train-strengthsfinder.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            #img-compliance{
                background-image: url('../images/train-compliance.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
            #img-coaching{
                background-image: url('../images/train-coaching.jpg');
                background-repeat: no-repeat;
                background-position: top right;
                background-size: cover;
            }
        }

       #hisp-owned{
           background-color: $color-gray;
       }

        

        footer{
            background-image: url(../images/bg_rings.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0px;
            padding-top: 2em;
            padding-left: 0em;
            padding-right: 0em;
            background-color: $color-blue-dark;
            color: white;
            span{
                color: $color-orange;
            }
            
        }



    }
}